{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH classificationcategories #}
{# This page can use any data from http:localhost:2000/cms/#/form/classificationcategories/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this classificationcategories's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

 {% include "templates/partials/sub-header.html" %} 
 
   <!-- CONTENT -->
    <section class="section bg-white pt-70 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3 col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">

                           {%if item.news_categories %} 
                             <h3 class="page-title">News in '{{ item.name }}' category </h3>
                             {% for newsItem in item.news_categories %}
                                <h2 class="section-header"><a href="{{ url(newsItem) }}" title="{{ newsItem.name }}">
                                {{ newsItem.name }} </a></h2>
                                <div class="page-grid">
                                    <!-- GRID 9 COLUMNS -->
                                    <div class="page-media col-2 col-push-7 static">
                                        <div class="client-logo">
                                            <img src="{{ newsItem.related_image.url }}" alt="" />
                                        </div><!-- /client-logo -->
                                    </div><!-- /page-media -->

                                    <div class="page-content col-7 col-pull-2">
                                        <p>{{ newsItem.summary }} </p>
                                    </div><!-- /page-content -->
                                </div><!-- /page-grid -->
                              {% endfor %}
                            {% else %}  
                                <p>None found</p>
                            {% endif %}
  
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->

                <div class="col-md-3 col-md-pull-9 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">

 
                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->

{% endblock %}
