                      
<h2 class="section-header">Frequently Asked Questions</h2>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="panel-group" id="accordion1">

            {% for faq in faqs %}
                <div class="panel">
                    <button class="panel-btn {% if loop.first %} collapsed {% endif %}" type="button" 
                        data-parent="#accordion1"
                        data-toggle="collapse"
                        data-target="#content{{ loop.index }}">
                        {{ faq.name }}
                    </button>
                    <div id="content{{ loop.index }}" class="collapse {% if loop.first %} in {% endif %}" aria-expanded="true">
                        {{ faq.content|safe }}
                    </div><!-- /collapse #content1 -->
                </div><!-- /panel -->
            {% endfor %}

        </div><!-- /panel-group -->
    </div><!-- /col -->
</div><!-- /row -->