{% set services = cms.services|slice(0, 5) %}
{% set socialAccounts = cms.socialmediaaccounts %}
{% set randomProduct = random(cms.products) %}

<!-- FOOTER -->
<footer id="footer" class="footer bg-dark"  data-search-index="false">
    <div class="foot-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <aside class="widget widget_about">
                        <p>{{ cms.businessinformation.description }}</p>
                        <ul class="social-list">                   
                            {% for account in socialAccounts %}
                            <li><a href="{{ account.account_url }}"><i class="fa fa-{{ account.name }}"></i></a></li>
                            {% endfor %}                        
                        </ul>
                    </aside><!-- /widget_about -->
                </div><!-- /col -->

                <div class="col-md-3 col-md-push-6 col-sm-6 col-xs-12">
                    <aside class="widget widget_subscribe">
                        <h3 class="widget-title h4">{{ randomProduct.name }}</h3>
                        <p>{{ randomProduct.description }}</p>

                    <div class="product-thumb">
                            <img src="{{ randomProduct.related_image|imageSize(270, 270) }}" alt="">
                            <a href="{{ url(randomProduct) }}" class="overlay"></a>
                        </div><!-- /product-thumb -->

                    </aside><!-- /widget_subscribe -->
                </div><!-- /col -->

                <div class="clearfix hidden-lg hidden-md hidden-xs"></div>

                <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">

                    {% include "templates/partials/contact/contact-widget.html" %}
                </div><!-- /col -->

                <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                    <aside class="widget widget_infomation">
                        <h3 class="widget-title h4">Our Services</h3>
                        <ul class="list-style">
                            {% for service in services %}
                            <li><a href="{{ url(service) }}">{{ service.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside><!-- /widget_infomation -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /foot-widget -->

    <div class="foot-credit">
        <div class="container">
        {% if siteMenuBottom %}
            <ul>

                 {% for menuItem in data.pages_related_menus %}
                     <li>
                        <a href="{% if menuItem.page_type === "Redirection Page" %} 
                            {{menuItem.redirection_url}} {% else %}{{ url(menuItem) }} {% endif %}">
                            {{ menuItem.name }}</a>
                    </li>
                 {% endfor %}
            </ul>
            {% endif %}
            <p>{% autoescape false %} {{ cms.sitelabels.copyright }} {% endautoescape %}</p>
        </div><!-- /container -->
    </div><!-- /foot-credit -->
</footer>
<!-- END / FOOTER -->