<article class="post post-style-2">
    <div class="post-thumbnail hover-link">
        <img src="{{ newsItem.related_image|imageSize('auto', 234) }}" alt="" /> 
        <a href="{{ url(newsItem) }}" class="overlay"><i class="fa fa-link"></i></a>
    </div><!--/ post-thumbnail -->

    <header class="entry-header">
        <h2 class="entry-title h5" data-number-line="2"><a href="{{ url(newsItem) }}">
        {{ newsItem.name }}</a></h2>
    </header>

    <div class="entry-content">
        <p data-number-line="4">{{ newsItem.summary }}</p>
    </div><!-- /entry-content -->

    <footer class="entry-footer">
        <span class="posted-on"><i class="fa fa-calendar"></i><a href="#">{{ newsItem.last_updated|date('M d Y') }}</a></span>
        {% if newsItem.show_comments %}
        <span class="comments-link"><i class="fa fa-comments-o"></i><a href="#">No comment</a></span>  
        {% endif %} 
    </footer>
</article><!-- /post -->