
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="mb-30">
            <img src="{{ featuredService.featured_image|imageSize('auto', 300)}}" alt="" />
        </div>
    </div><!-- /col -->

    <div class="col-md-6 col-sm-12 col-xs-12">
        <h2 class="section-header big">{{ featuredService.name }}</h2>
        <div class="mb-30">
            <p>{{ featuredService.summary }}</p>
        </div>
        <a href="{{ url(featuredService) }}" class="btn btn-primary radius">Read More</a>
    </div><!-- /col -->
</div><!-- /row -->