<!-- GET QUOTE -->
<section class="section bg-primary pt-20 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <h3 class="play-font fsi mb-0 text-center text-left-md" style="line-height: 2.3em;">
                    {{ callToAction.summary }}
                </h3>
            </div><!-- /col -->

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-center text-right-md">
                    <a href="{{ callToAction.target_url }}"  class="btn btn-black">
                    {{ callToAction.action_button }}
                </a></div>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>
<!-- END / GET QUOTE -->