<ul>
    {% for slide in slides %}
    <!-- SLIDE {{ loop.index }}  -->
    <li data-transition="{{ slide.transition}}"
        data-slotamount="{{ slide.slot_amount}}" 
        data-masterspeed="{{ slide.master_speed}}" 
        data-thumb="{{ slide.dummy_image.image.url }}"  
        data-saveperformance="on"
        data-title="{{ slider.name }}">
        <!-- MAIN IMAGE -->
        <img src="slide.dummy_image.image.url" 
                alt="{{ slider.name }}" 
                data-lazyload="{{ slide.image.image.url }}"
                data-bgposition="{{ slide.background_position }}" 
                data-bgfit="{{ slide.background_fit }}" 
                data-bgrepeat="{{ slide.background_repeat}}">
        <!-- LAYERS -->

        {% for layer in slide.layer_settings%}
        <!-- LAYER NR. {{ loop.index }} -->
        <div class="{{ layer.class }}"
            data-x="{{ layer.position_x }}"
            data-y="{{ layer.position_y }}"
            {% if layer.offset %}
            data-hoffset="{{ layer.offset }}"
            {% endif %}
            data-speed="{{ layer.speed }}"
            data-start="{{ layer.start }}"
            data-easing="{{ layer.easing }}"
            data-splitin="{{ layer.split_in }}"
            data-splitout="{{ layer.split_out }}"
            data-elementdelay="{{ layer.element_delay }}"
            data-endelementdelay="{{ layer.end_element_delay }}"
            style="{{ layer.style }}">
                {% if layer.call_to_action %}   
                    <a href='{{ layer.target_url}}' class='{{ layer.cta_button_style }} btn btn-primary'>
                {% endif %}
                    {{ layer.title}}
                {% if layer.call_to_action %}   
                </a>
                {% endif %}
        </div>
        {% endfor %}
        </li>

        {% endfor %}  

</ul>