<div class="panel-group" id="accordion1">

    {% for testimonial in testimonials%}
        <div class="panel">
            <button class="panel-btn {% if loop.first %} collapsed {% endif %}" type="button" 
                data-parent="#accordion1"
                data-toggle="collapse"
                data-target="#content{{ loop.index }}">
                {{ testimonial.name }}
            </button>
            <div id="content{{ loop.index }}" class="collapse {% if loop.first %} in {% endif %}" aria-expanded="true">
                <p>
                    {{ testimonial.quote }}
                </p>
            </div><!-- /collapse #content1 -->
        </div><!-- /panel -->
    {% endfor %}

</div><!-- /panel-group -->
