{# ------------------------------------------------------- #}
{# ONE OFF VIEW sitesettings #}
{# This page can use any data from http:localhost:2000/cms/#/form/sitesettings/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this sitesettings's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.sitesettings.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.sitesettings.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.sitesettings.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.sitesettings.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.sitesettings.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Social Settings: </strong>
        {{ cms.sitesettings.social_settings }}
      </li>
      <li>
        <strong>Show Rss Feed: </strong>
        {{ cms.sitesettings.show_rss_feed }}
      </li>
      <li>
        <strong>Show Social Icons: </strong>
        {{ cms.sitesettings.show_social_icons }}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.sitesettings.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.sitesettings.slug }}
      </li>
      <li>
        <strong>Marketing Settings: </strong>
        {{ cms.sitesettings.marketing_settings }}
      </li>
      <li>
        <strong>Form Generate URL: </strong>
        {{ cms.sitesettings.form_generate_url }}
      </li>
      <li>
        <strong>Marketing Tracker: </strong>
        {{ cms.sitesettings.marketing_tracker|safe }}
      </li>
  </ul>
{% endblock %}
