    <aside class="widget widget_download">
        <h3 class="widget-title">Brochure</h3>
        <ul>
            <li><a href="#" class="btn btn-download fullwidth text-left"><i class="icon icon-pdf19"></i>Download.pdf</a></li>
            <li><a href="#" class="btn btn-download fullwidth text-left"><i class="icon icon-doc2"></i>Download.doc</a></li>
            <li><a href="#" class="btn btn-download fullwidth text-left"><i class="icon icon-ppt"></i>Download.ppt</a></li>
        </ul>
    </aside><!-- /widget_download -->