
<aside class="widget widget_categories">
    <h3 class="widget-title h5">Categories</h3>
    <ul>
        <li class="cat-item">
            <a href="#1">Destination (1)</a>
            <ul class="children">
                <li class="cat-item">
                    <a href="#sub-1">Sub menu 1 (2)</a>
                </li>
                <li class="cat-item">
                    <a href="#sub-2">Sub menu 2 (4)</a>
                </li>
            </ul>
        </li>
        <li class="cat-item">
            <a href="#">Food (3)</a>
        </li>
        <li class="cat-item">
            <a href="#">Landscape (2)</a>
        </li>
        <li class="cat-item">
            <a href="#">Nature (1)</a>
        </li>
        <li class="cat-item">
            <a href="#">Photography (2)</a>
        </li>
        <li class="cat-item">
            <a href="#">Travel (2)</a>
        </li>
    </ul>
</aside><!-- /widget_categories -->