{% set product = product %}
<a href="{{ url(product) }}" title="{{ product.name }}">
    <span class="product-thumb"><img src="{{ product.related_image|imageSize(270, 270) }}" alt=""></span>
    <span class="product-title">{{ product.name }}</span>
</a>
<div class="pull-left">
        {% if product.call_for_price %}
                <span class="amount">Call for Price</span>
        {% endif %}

        {% if product.show_price && product.call_for_price === false %}
            {% if product.on_sale %} 
                 <span class="amount">${{ product.sale_price }}  <del>${{ product.price }}</del></span>
            {% else %}
                <span class="amount"> ${{ product.price }} </span>
            {% endif %} 

        {% endif %}
        {% if product.show_ratings %}        
        <div class="star-rating" title="Rated 5.00 out of 5">
            <span style="width: 100%"></span>
        </div>
        {% endif %}
</div><!-- /pull-left -->