
<!-- GET QUOTE -->
<section class="section bg-primary pt-20 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <h3 class="play-font fsi mb-0 white text-center text-left-md" style="line-height: 2.3em;">
                What does innovation mean to you? click here to see what it means to us.</h3>
            </div><!-- /col -->

            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="text-center text-right-md"><button type="button" class="btn btn-transparent">
                Get a quote</button></div>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>
<!-- END / GET QUOTE -->