{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH pages #}
{# This page can use any data from http:localhost:2000/cms/#/form/pages/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/about-template.html" %}
{# This sets our page <title>. It will append this pages's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% set services = cms.services|slice(1,6) %} 
{% block siteContent %}
  <div class="page-grid">
        <!-- GRID 9 COLUMNS -->
        <div class="page-content col-5 col-push-4">
            <h2 class="section-header">{{ item.seo_title }}</h2>
            <p>{{ item.description }}.</p>
            <br />
            </div><!-- /page-content -->

        <div class="page-media col-4 col-pull-5">
            <img src="{{ item.image.url }}" alt="{{ item.seo_title }}" />
            <br />
        </div><!-- /page-media -->
    </div><!-- /page-grid -->

    <div class="divider pt-20"></div>

    <h2 class="section-header">What we do</h2>
    {{ item.content|safe }}
    <br />

    <div class="portfolio portfolio-col-3">
      {% for service in services %}
        <div class="portfolio-item office">
            <div class="portfolio-media hover-link">
                <img src="{{ service.related_image.url }}" alt="{{ service.name }}" />
                <a href="{{ url(service) }}" class="overlay"><i class="fa fa-link"></i></a>
            </div><!-- /hover-link -->
            <h5 class="text-uppercase text-center">{{ service.name }}</h5>
        </div><!-- /portfolio-item -->
        {% endfor %}
  
    </div><!-- /portfolio -->
{% endblock %}