{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH pages #}
{# This page can use any data from http:localhost:2000/cms/#/form/pages/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/about-template.html" %}
{# This sets our page <title>. It will append this pages's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% set certifications = cms.certificates %}

{% block siteContent %}

    {% for certificate in certifications %}
    <h3 class="page-title">{{ certificate.name }}</h3>
    <div class="page-grid">
        <!-- GRID 9 COLUMNS -->
        <div class="page-media col-2 col-push-7 static">
            <div class="client-logo">
                <img src="{{ certificate.related_image.url }}" alt="" />
            </div><!-- /client-logo -->
        </div><!-- /page-media -->

        <div class="page-content col-7 col-pull-2">
           {{ certificate.content|safe }}
        </div><!-- /page-content -->
    </div><!-- /page-grid -->
    {% endfor %}
 
{% endblock %}