{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH pages #}
{# This page can use any data from http:localhost:2000/cms/#/form/pages/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{% set services = cms.services %}
{% set products = cms.products %}

{# This sets our page <title>. It will append this pages's name to the site title defined in base.html #}
{% block title %}{% parent %} - {% if item.seo_title %}{{ item.seo_title }} {% else %} {{ item.name }} {% endif %}{% endblock %}

{% block content %}

    {% include "templates/partials/sub-header-pages.html" %}

      <!-- CONTENT -->
    <section class="section bg-white pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
                            {{ item.content|safe }}
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">
                            {% include "templates/partials/contact/contact-widget.html" %}
                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / CONTENT -->
{% endblock %}
