<aside class="widget widget_contact">
    {% if contactWidgetHeader %}
     <h3 class="widget-title">{{ contactWidgetHeader }}</h3>
     {% else %}
     <h3 class="widget-title">Get in touch</h3>
    {% endif %}
    <ul>
        <li><i class="fa fa-map-marker"></i>{{ cms.businessinformation.primary_location.address.street1}}</li>
        <li><i class="fa fa-building"></i>{{ cms.businessinformation.primary_location.address.street2}}</li>
        <li><i class="icon icon-phone"></i>{{ cms.businessinformation.primary_location.phone_number }}</li>
        <li><i class="icon icon-paper-plane"></i><a href="#"><span class="__cf_email__">{{ cms.businessinformation.email }}</span></a></li>
        <li><i class="fa fa-mobile"></i>{{ cms.businessinformation.primary_location.fax }}</li>
        {% if cms.businessinformation.all_day_support %}
        <li><i class="icon icon-clock"></i>Provides 24 hours support</li>
        {% endif %}
    </ul>
</aside><!-- /widget_contact -->