
<aside class="widget widget_contact">
    <h3 class="widget-title">Our offices</h3>
    <ul>
        <li><i class="fa fa-map-marker"></i>{{ cms.businessinformation.primary_location.address.street1}}</li>
        <li><i class="icon icon-phone"></i>{{ cms.businessinformation.primary_location.phone_number }}</li>
        <li><i class="fa fa-mobile"></i>{{ cms.businessinformation.primary_location.fax }}</li>
        <li><i class="icon icon-clock"></i>{{ cms.businessinformation.name }}</li>
    </ul>
</aside><!-- /widget_contact -->